In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('final_merged.csv', index_col=0)
df

       Symbol        Date      Open    High     Low   Close         Vol
0        ADBL  2011-03-20    132.00  134.00  131.00  133.00    1,507.00
1       CZBIL  2011-03-20    207.00  217.00  211.00  217.00    1,650.00
2         EBL  2011-03-20  1,001.00  984.00  965.00  984.00      417.00
3         HBL  2011-03-20    580.00  585.00  580.00  585.00      377.00
4         KBL  2011-03-20    260.00  270.00  260.00  270.00       90.00
...       ...         ...       ...     ...     ...     ...         ...
50073  SANIMA  2021-03-01    364.00  372.00  358.00  368.00  175,545.00
50074     SBI  2021-03-01    415.00  425.00  415.00  422.00   23,508.00
50075     SBL  2021-03-01    410.00  413.00  392.00  411.00  162,762.00
50076     SCB  2021-03-01    629.00  629.00  610.00  616.00   48,763.00
50077    SRBL  2021-03-01    320.00  320.00  300.00  309.00  101,081.00

[50078 rows x 7 columns]

In [12]:
df.dtypes

Symbol    object
Date      object
Open      object
High      object
Low       object
Close     object
Vol       object
dtype: object

In [13]:
df["Open"] = pd.to_numeric(df.Open,errors='coerce')
df["High"] = pd.to_numeric(df.High,errors='coerce')
df["Low"] = pd.to_numeric(df.Low,errors='coerce')
df["Close"] = pd.to_numeric(df.Close,errors='coerce')

In [14]:
df.dtypes

Symbol     object
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Vol        object
dtype: object

In [15]:
df

       Symbol        Date   Open   High    Low  Close         Vol
0        ADBL  2011-03-20  132.0  134.0  131.0  133.0    1,507.00
1       CZBIL  2011-03-20  207.0  217.0  211.0  217.0    1,650.00
2         EBL  2011-03-20    NaN  984.0  965.0  984.0      417.00
3         HBL  2011-03-20  580.0  585.0  580.0  585.0      377.00
4         KBL  2011-03-20  260.0  270.0  260.0  270.0       90.00
...       ...         ...    ...    ...    ...    ...         ...
50073  SANIMA  2021-03-01  364.0  372.0  358.0  368.0  175,545.00
50074     SBI  2021-03-01  415.0  425.0  415.0  422.0   23,508.00
50075     SBL  2021-03-01  410.0  413.0  392.0  411.0  162,762.00
50076     SCB  2021-03-01  629.0  629.0  610.0  616.0   48,763.00
50077    SRBL  2021-03-01  320.0  320.0  300.0  309.0  101,081.00

[50078 rows x 7 columns]

In [16]:
ADBL = df[df['Symbol'] =='ADBL']
BOKL = df[df['Symbol'] == 'BOKL']
CBL = df[df['Symbol'] =='CBL']
CCBL = df[df['Symbol'] =='CCBL']
CZBIL = df[df['Symbol'] =='CZBIL']
EBL = df[df['Symbol'] =='EBL']
GBIME =  df[df['Symbol'] =='GBIME']
HBL = df[df['Symbol'] =='HBL']
KBL = df[df['Symbol'] =='KBL']
LBL = df[df['Symbol'] =='LBL']
MBL = df[df['Symbol'] =='MBL']
MEGA = df[df['Symbol'] =='MEGA']
NABIL = df[df['Symbol'] =='NABIL']
NBB = df[df['Symbol'] =='NBB']
NBL = df[df['Symbol'] =='NBL']
NCCB = df[df['Symbol'] =='NCCB']
NIB = df[df['Symbol'] =='NIB']
NICA = df[df['Symbol'] =='NICA']
NMB = df[df['Symbol'] =='NMB']
PCBL = df[df['Symbol'] =='PCBL']
PRVU = df[df['Symbol'] =='PRVU']
SANIMA = df[df['Symbol'] =='SANIMA']
SBI = df[df['Symbol'] =='SBI']
SBL = df[df['Symbol'] =='SBL']
SCB = df[df['Symbol'] =='SCB']
SRBL = df[df['Symbol'] =='SRBL']

In [17]:
ADBL.dtypes

Symbol     object
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Vol        object
dtype: object

In [18]:
ADBL.reset_index()
ADBL.to_csv('Banks\ADBL.csv')

In [19]:

BOKL.to_csv('Banks\BOKL.csv')

In [20]:
CBL.to_csv('Banks\CBL.csv')

In [21]:
CCBL.to_csv('Banks\CCBL.csv')

In [22]:
CZBIL.to_csv('Banks\CZBIL.csv')

In [23]:
EBL.to_csv('Banks\EBL.csv')

In [24]:
GBIME.to_csv('Banks\GBIME.csv')

In [25]:
HBL.to_csv('Banks\HBL.csv')

In [26]:
KBL.to_csv('Banks\KBL.csv')

In [27]:
LBL.to_csv('Banks\LBL.csv')

In [28]:
MBL.to_csv('Banks\MBL.csv')

In [29]:
MEGA.to_csv('Banks\MEGA.csv')

In [30]:
NABIL.to_csv('NABIL.csv')

In [31]:
NBB.to_csv('NBB.csv')

In [32]:
NBL.to_csv('NBL.csv')

In [33]:
NCCB.to_csv('NCCB.csv')

In [34]:
NIB.to_csv('NIB.csv')

In [35]:
NICA.to_csv('NICA.csv')

In [36]:
NMB.to_csv('NMBV.csv')

In [37]:
PCBL.to_csv('PCBL.csv')

In [38]:
PRVU.to_csv('PRVU.csv')

In [39]:
SANIMA.to_csv('SANIMA.csv')

In [40]:
SBI.to_csv('SBI.csv')

In [41]:
SBL.to_csv('SBL.csv')

In [42]:
SCB.to_csv('SCB.csv')

In [43]:
SRBL.to_csv('SRBL.csv')